<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spring docker test</title>
    <link rel="stylesheet" th:href="@{./bundle.css}">
    <link rel="stylesheet" th:href="@{./global.css}">
	<script defer th:src="@{./bundle.js}"></script>
</head>
<body>
</body>
</html>