<script>
	import API from './api.js';
	import { onMount } from 'svelte';
	let api = new API();
	let todos = [];
	let todoName = '';
	onMount(async () => {
		const res = await api.getTodos();
		todos = res;
	})
	
	console.log(todos);
	
	
</script>

<main>
	<thead class="todo-head">
		<tr>
			<td>
				id
			</td>
			<td>
				name
			</td>
			<td>
				<input bind:value={todoName}>
				<button on:click={api.postTodo(todoName)}>Add</button>
			</td>
		</tr>
	</thead>
	<tbody class="todo-table">
		{#each todos as todo}
			<tr>
				<td>{todo.id}</td>
				<td>{todo.name}</td>
				<td><button on:click={api.deleteTodo(todo.id)}>Remove</button></td>
			</tr>
		{/each}
	</tbody>
</main>

<style>
	main {
		text-align: center;
		padding: 1em;
		max-width: 240px;
		margin: 0 auto;
	}

	h1 {
		color: #ff3e00;
		text-transform: uppercase;
		font-size: 4em;
		font-weight: 100;
	}

	@media (min-width: 640px) {
		main {
			max-width: none;
		}
	}
	
	td, th {
  		border: 1px solid #dddddd;
  		text-align: left;
  		padding: 8px;
	}

</style>